.restore-dialog {
  width: auto;
  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    & h1 {
      margin: 1rem;
    }
  }
  &-content {

    color: #444;

    &__message {
      &--valid {
        display: flex;
        flex-direction: row;
        color: #444;
        margin-top: 1rem;
        align-items: center;
        .mat-icon:last-child {
          margin-left: 1rem;
          color: green;
        }
      }
      &--error {
        display: flex;
        flex-direction: row;
        color: #444;
        margin-top: 1rem;
        align-items: center;
        .mat-icon:last-child {
          margin-left: 1rem;
          color: red;
        }
      }
    }
  }
}
