<div class="main">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header__title">{{ config.title}}</span>
      <span class="header--spacer"></span>
      <button mat-icon-button aria-label="View" (click)="toggleView()" *transloco="let t"
        title="{{ t(layoutToggle)}}">
        <mat-icon>{{ config.display }}</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item aria-label="Example icon-button with share icon" (click)="saveConfig()">
          <mat-icon>save</mat-icon>
          <span>{{ layoutToggle | transloco}}</span>
        </button>
        <button mat-menu-item aria-label="Example icon-button with share icon" (click)="restoreConfig()">
          <mat-icon>settings_backup_restore</mat-icon>
          <span>{{ 'restore-config' | transloco  }}</span>
        </button>
        <button mat-menu-item aria-label="Example icon-button with share icon" (click)="changeLang('es')">
          <span class="fi fi-es"></span>&nbsp;&nbsp;&nbsp;
          <span>{{ 'lang.es' | transloco  }}</span>
        </button>
        <button mat-menu-item aria-label="Example icon-button with share icon" (click)="changeLang('en')">
          <span class="fi fi-us"></span>&nbsp;&nbsp;&nbsp;
          <span>{{ 'lang.en' | transloco  }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </header>
  <mat-sidenav-container class="sidenav_container" hasBackdrop="true">
    <mat-sidenav #sidenav mode="side" class="sidenav" [(opened)]="opened" (click)="sidenav.toggle()" [mode]="'over'">
      <mat-list *ngFor="let item of config?.sections; index as i; first as isFirst">
        <mat-list-item class="sidenav-item">
          <a href="#{{item.id}}">
            <div class="sidenav-item-content">
              <mat-icon color="accent">{{ item.icon }}</mat-icon>
              <span class="sidenav-item-content__name--margin">{{ item.name }}</span>
            </div>
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <section>
        <app-content [config]="config"></app-content>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
